.effect-border-text.effect-border-dark:after {
  -webkit-text-stroke: 1px #dcdcde;
}

.bg-gray {
  background: var(--gray-color);
}
.bg-white {
  background: #fff;
}
.bg-pattern {
  background-image: url(../images/bg-pattern.webp);
}
.bg-gradient {
  background: #2ea57d;
  background: linear-gradient(to right, #16a085, #63af6b);
}
