.contacts-page {
  .site-content {
    position: relative;
    &:before {
      content: url(../images/element-red.svg);
      position: absolute;
      top: 50%;
      right: -36px;
      z-index: -1;

      @media screen and (min-width: 768px) {
        content: url(../images/circles.svg);
        bottom: 50px;
        top: auto;
        right: 0;
      }
    }

    @media screen and (min-width: 1200px) {
      &:after {
        content: url(../images/element-green-3.svg);
        position: absolute;
        top: 40%;
        left: 0;
        z-index: -1;
      }
    }
  }

  .intro-section .container:before {
    top: auto;
    bottom: -50px;
  }
  .intro-section .container:after {
    top: auto;
    bottom: -50px;
  }

  h2 {
    font-size: 1.5em;
    margin-bottom: 2em;
    @media screen and (min-width: 768px) {
      font-size: 2em;
      text-align: center;
    }
    @media screen and (min-width: 1200px) {
      font-size: 4em;
      text-align: center;
    }
  }
  .social-links {
    display: flex;
    a + a {
      margin-left: 1em;
    }
  }

  iframe {
    border: 0;
    width: 100%;
    height: inherit;
    min-height: 400px;
    box-shadow: 0 10px 20px #62b9d95e;
    border-radius: 16px;
  }
  .contact-item {
    margin-bottom: 2em;
  }
  .contact-item-label {
    font-size: 2.4rem;
  }
  .contact-item-value {
    padding: 1.5rem 0;
    border-bottom: 1px rgba(0, 0, 0, 0.15) solid;
  }

  .wrap-iframe {
    padding: 0.5em;
    background: #fff;
    border-radius: 30px;
    margin-top: 3em;

    @media screen and (min-width: 992px) {
      height: 100%;
      margin-top: 0;
    }
  }
}
