h2,
.h2 {
  font-weight: 500;
  font-size: 2.2em;
  margin-bottom: 1em;
  line-height: 120%;
  @media screen and (min-width: 768px) {
    font-size: 3.5em;
  }
}

h3,
.h3 {
  font-weight: 500;
  font-size: 21px;
  margin: 1em 0;
}

p {
  line-height: 150%;
}

p.leading {
  font-size: 31px;
}

p + p {
  margin-top: 2em;
}

.text-center {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .text-md-center {
    text-align: center;
  }
}

.text-primary {
  color: var(--primary-color);
}

.heading-leading {
  font-weight: 900;
  font-size: 2.2em;
  text-transform: uppercase;
  &.effect-border-text:after {
    content: "";
  }

  @media screen and (min-width: 768px) {
    font-size: 7em;
    &.effect-border-text:after {
      content: attr(data-text);
      font-size: 1.5em;
      text-align: center;
      top: 0;
    }
  }
}

.weight-bold {
  font-weight: 500;
}
.text-uppercase {
  text-transform: uppercase;
}

.stretched-link::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  content: "";
}
