h2,
.h2 {
  font-weight: 500;
  font-size: 2.2em;
  margin-bottom: 3rem;
  line-height: 120%;
  @media screen and (min-width: 768px) {
    font-size: 6.4rem;
  }
}

h3,
.h3 {
  font-weight: 500;
  font-size: 2.4rem;
  margin: 3rem 0;
}

p {
  line-height: 150%;
}

p.leading {
  font-size: 3.6rem;
}

p + p {
  margin-top: 2em;
}

.text-center {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .text-md-center {
    text-align: center;
  }
}

.text-primary {
  color: var(--primary-color);
}

.heading-leading {
  font-weight: 900;
  font-size: 2.2em;
  text-transform: uppercase;
  &.effect-border-text:after {
    content: "";
  }

  @media screen and (min-width: 768px) {
    font-size: 9rem;
    margin-bottom: 11rem;
    &.effect-border-text:after {
      content: attr(data-text);
      font-size: 1.2em;
      text-align: center;
      top: 0;
      white-space: nowrap;
    }
  }
  @media screen and (min-width: 1200px) {
    font-size: 12rem;
  }
  @media screen and (min-width: 1600px) {
    font-size: 16rem;
  }
}

.weight-bold {
  font-weight: 500;
}
.text-uppercase {
  text-transform: uppercase;
}

.stretched-link::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  content: "";
}
