button,
input,
textarea,
select,
label {
  font-family: "Roboto", sans-serif;
  font-size: 1.8rem;
  font-weight: 500;
  border: none;
}
button:hover {
  cursor: pointer;
}
.form-control {
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 3.2rem;
  border-radius: 100px;
}
.form-control:active,
.form-control:focus {
  outline: none;
  box-shadow: 0 0 10px #00000050;
  transition: all 0.3s;
}
.form-floating {
  position: relative;
  .form-control::placeholder {
    color: transparent;
  }
}
.form-floating > label {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding: 3.2rem;
  pointer-events: none;
  border: 1px solid transparent;
  transform-origin: 0 0;
  transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out;
}
.form-floating > .form-control:focus ~ label,
.form-floating > .form-control:not(:placeholder-shown) ~ label,
.form-floating > .form-select ~ label {
  opacity: 0.65;
  transform: scale(0.85) translateY(-1rem) translateX(0.15rem);
}
label {
  display: inline-block;
}
.form-check {
  display: block;
  min-height: 1.5rem;
  padding-left: 1.5em;
}
.form-check .form-check-input {
  float: left;
  margin-left: -1.5em;
  margin-top: 0px;
}

.form-check-input {
  width: 1em;
  height: 1em;
  vertical-align: top;
  background-color: #fff;
  border-radius: 0.25em;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-print-color-adjust: exact;
  color-adjust: exact;
}

.form-check-input:checked[type="checkbox"] {
  background-image: url("data:image/svg+xml,%0A%3Csvg width='10' height='9' viewBox='0 0 10 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3 7.5L2.64645 7.85355L3 8.20711L3.35355 7.85355L3 7.5ZM0.646447 5.85355L2.64645 7.85355L3.35355 7.14645L1.35355 5.14645L0.646447 5.85355ZM3.35355 7.85355L9.85355 1.35355L9.14645 0.646447L2.64645 7.14645L3.35355 7.85355Z' fill='%232E2E2E'/%3E%3C/svg%3E%0A");
  background-size: 70%;
}

.btn {
  background: var(--secondary-color);
  border-radius: var(--border-radius);
  color: #3a3a3a;
  text-decoration: none;
  font-weight: 500;
  padding: 35px 55px;
  border: none;
  display: inline-block;
  white-space: nowrap;
}
.btn:hover {
  transition: all 0.3s;
  box-shadow: 0 0 10px #00000050;
}

.btn-large {
  padding: 35px 0;
  margin-top: 10rem;
  display: block;
  width: 100%;
  text-align: center;
  @media screen and (min-width: 768px) {
    display: inline-block;
    width: auto;
    padding: 35px 106px;
    margin-top: 6rem;
  }
}

.btn-small {
  padding: 3rem 7rem;
}
.btn-block {
  width: 100%;
}

input[type="search"]::-ms-clear,
input[type="search"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}
