.container {
  padding-left: var(--gutter);
  padding-right: var(--gutter);
  max-width: var(--max-width-container);
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}
