.header {
  @include dashed-line;
  position: relative;
  z-index: 1;
  color: #fff;

  .container {
    display: grid;
    grid-template-columns: auto min-content max-content;
    place-items: center start;
    align-content: space-between;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    @media screen and (min-width: 992px) {
      grid-template-columns: minmax(120px, 150px) auto max-content max-content;
      padding-top: 0;
      padding-bottom: 0;
      .header__logo {
        display: block;
      }
    }

    @media screen and (min-width: 1200px) {
      grid-template-columns: minmax(120px, 240px) auto max-content max-content;
      .header__contacts {
        margin-left: clamp(15px, calc(1rem + 5vw), 10rem);
      }
    }
  }
}

.header__contacts {
  margin-left: 9px;
}

.header__logo {
  display: none;
}

.header__navbar {
  display: block;
  width: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: -100%;
  z-index: 1000;
  background: url("../images/elements/mobile-menu-green.svg") 100% 0 no-repeat,
    url("../images/elements/mobile-menu-yellow.svg") 100% 100% no-repeat, linear-gradient(to right, #16a085, #63af6b);
  transition: all 0.2s ease;

  @media screen and (min-width: 992px) {
    display: flex;
    align-items: center;
    background: transparent;
    position: static;

    .menu-item a {
      padding: 4.5rem 1.5rem;
      display: inline-block;
    }
    .menu-item.active,
    .menu-item:hover {
      border: none;
      a {
        border-bottom: 1px #fff solid;
      }
    }

    .navbar-menu {
      display: flex;
    }
  }

  @media screen and (min-width: 1400px) {
    .menu-item a {
      padding: 4.5rem 2.5rem;
    }
  }
}

.header__navbar {
}

.open-menu {
  .header {
    z-index: 100;
  }
  .navbar-menu {
    @include dashed-line(top);
    display: flex;
    flex-direction: column;
    font-size: clamp(1rem, calc(1rem + 3vh), 3.6rem);
    justify-content: space-around;
    padding: min(60px, 10vh) 0;
    font-size: clamp(1rem, 1rem + 3vh, 3.6rem);
    flex-grow: 1;
  }
}

.open-menu .header__navbar {
  left: 0;
  display: flex;
  flex-direction: column;
  .menu-item {
    text-align: center;
  }

  .menu-item a {
    padding: clamp(1rem, 3vh, 3.6rem) 1rem;
    text-align: center;
    display: inline-block;
  }

  .menu-item.active a,
  .menu-item:hover a {
    border-bottom: 1px #fff solid;
  }
}

.open-menu .header__navbar-toggler {
  margin: 10px auto;
  height: 50px;
  span {
    transform: rotate(45deg);
    top: 25px;
  }
  &:after {
    transform: rotate(-45deg);
    top: 25px;
  }
  &:before {
    display: none;
  }
}

.header__navbar-toggler {
  display: block;
  width: 50px;
  height: 35px;
  margin-left: calc(var(--bs-gutter-x) * 0.5);
  position: relative;
  background: none;

  span,
  &:after,
  &:before {
    height: 1px;
    width: 100%;
    left: 0;
    position: absolute;
    background: #fff;
    margin: 0 auto;
  }

  &:after,
  &:before {
    content: "";
  }

  &:after {
    bottom: 5px;
  }

  &:before {
    top: 5px;
  }

  @media screen and (min-width: 992px) {
    display: none;
  }
}

.language-toggler {
  display: flex;
  border: 1px #fff solid;
  border-radius: 2.3rem;
  .language-toggler-item {
    padding: 0.9rem 1.4rem;
    &.active {
      background: #fff;
      border-radius: inherit;
      a {
        color: var(--dark-color);
      }
    }
  }
  @media screen and (min-width: 1200px) {
    .language-toggler-item {
      padding: 1rem 2rem;
    }
  }
}
