.icon {
  display: inline-block;
  margin-right: 3px;
}

@each $icon in (facebook, instagram, phone, user, calendar, tags, comment, views, time) {
  .icon-#{$icon}:before {
    content: url(../images/icons/icon-#{$icon}.svg);
  }
}

@each $icon in (user, calendar, tags, comment, views, time) {
  .icon-#{$icon}-green:before {
    content: url(../images/icons/icon-#{$icon}-green.svg);
  }
}

.icon-instagram:before {
  margin-left: 2px;
}

.icon-phone {
  margin-right: 0.3em;
  transform: translateY(1px);
}
.icon-facebook,
.icon-instagram {
  width: 2.3em;
  height: 2.3em;
  border: 1px rgba(22, 22, 22, 0.17) solid;
  border-radius: 50%;
  margin: 0 0.5em;
  line-height: 2.3em;
}

.icon-comment,
.icon-comment-green,
.icon-tags,
.icon-tags-green {
  transform: translate(0, 1px);
}
