.teambuilding-page {
  .feedback-section {
    padding-top: 10rem;
  }

  @media screen and (min-width: 768px) {
    .intro-section .intro-section-title {
      width: 70%;
    }
  }
  @media screen and (min-width: 1200px) {
    .feedback-section {
      background: url(../images/elements/circles.svg) no-repeat -60px 80%, linear-gradient(to right, #16a085, #63af6b);
    }
  }

  .intro-section .container:before,
  .intro-section .container:after {
    display: none;
  }

  .intro-section .offer-image {
    @media screen and (min-width: 768px) {
      display: block;
      text-align: right;
      position: absolute;
      right: -200px;
      bottom: -100px;
      z-index: 3;
      height: 100%;
      img {
        display: inline-block;
        max-width: fit-content;
        max-height: 100%;
      }
    }
    @media screen and (min-width: 992px) {
      right: -100px;
      bottom: -120px;
    }
    @media screen and (min-width: 1200px) {
      right: 0;
    }
    @media screen and (min-width: 1700px) {
      bottom: -70px;
    }
  }
}
