@import "./_reset";
@import "./_grid.scss";
@import "./_variables";
@import "./_forms.scss";


%before-after {
  content: '';
  display: block;
}


*{
  box-sizing: border-box;
}

body{
  background: #F5F5F7;
  color: var(--dark-color);
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

#page{
  overflow: hidden;
}

h2, .h2{
  font-weight: 500;
  font-size: 2.2em;
  margin-bottom: 1em;
  line-height: 120%;
  @media screen and (min-width: 768px){
    font-size: 3.5em;
  }
}
p{
  line-height: 150%;
}
p.leading{
  font-size: 31px;
}
p+p{
  margin-top: 2em
}

@media screen and (min-width: 768px){
  .text-md-center{
    text-align: center;
  }
}

.text-primary{
  color: var(--primary-color);
}


h3, .h3{
  font-weight: 500;
  font-size: 21px;
  margin: 1em 0
}

.heading-leading{
  font-weight: 900;
  font-size: 2.2em;
  text-transform: uppercase;
  &.effect-border-text:after{
    content: '';
  }

  @media screen and (min-width: 768px) {
    font-size: 7em;
    &.effect-border-text:after{
      content: attr(data-text);
      font-size: 1.5em;
      text-align: center;
      top: 0
    }
  }
}

.text-center{
  text-align: center
}

section{
  padding: 3.5em 0;
  @media screen and (min-width: 768px){
    padding: 5.5em 0;
  }
}

img{
  max-width: 100%;
  height: auto;
}

.stretched-link::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    content: "";
}


.btn{
  background: var(--secondary-color);
  border-radius: var(--border-radius);
  color: #3A3A3A;
  text-decoration: none;
  font-weight: 500;
  padding: 35px 55px;
  border: none;
  display: inline-block;
}
.btn:hover{
  transition:  all .3s;
  box-shadow: 0 0 10px #00000050;
}

.btn-large{
  padding: 35px 106px;
  margin-top: 6rem;
  display: block;
  width: 100%;
  text-align: center;
  @media screen and (min-width: 768px){
    display: inline-block;
    width: auto;
  }
}

.btn-small{
  padding: 20px 40px;
}

.effect-border-text{
  position: relative;
  z-index: 1;
  white-space: nowrap;
}

.effect-border-text:after{
  content: attr(data-text);
  display: block;
  position: absolute;
  top: -0.1em;
  left: -0.05em;
  z-index: -1;
  font-size: 1.2em;
  color: transparent;
  -webkit-text-stroke: 1px rgba(255,255,255,.22);
  width: 100%;
  text-align: left;
}

  
.effect-border-dark:after{
  -webkit-text-stroke:1px #DCDCDE;
}

.bg-gray{
  background: var(--gray-color);
}
.bg-white{
  background: #fff;
}
.bg-pattern{
  background-image: url(../images/bg-pattern.png);
}
.bg-gradient{
  background: #2EA57D;
  background: linear-gradient(to right, #16A085, #63af6b);
}






.site-header {
  background-image: repeating-linear-gradient(to right, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.3) 50%, transparent 50%, transparent 100%);
  background-position: left bottom;
  background-repeat: repeat-x;
  background-size: 20px 1px;
  color: #fff;
  position: relative;
  z-index: 1;
  padding: 1em 0;
  a{
    color: #fff;
    text-decoration: none;
  }
  @media screen and (min-width: 992px){
    padding: 0;
  
    .header-left, .contacts{
      width: max-content;
    }
  }
  .contacts{
    margin-left: 1.5em;
  }

}

.open-menu{
  .site-header{
    z-index: 100;
  }
}

.navbar {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background: linear-gradient(to right, #16A085, #63af6b);
  width: 100%;
  transition: all 0.2s ease;
  left: -100%;
  z-index: 1000;
  
  &.open-menu{
      left:0;
      &:before{
        content: '';
        display: block;
        position: absolute;
        width: 80em;
        height: 80em;
        border: 15em var(--primary-color) solid;
        border-radius: 50%;
        right: -70em;
        top: -10em;
        z-index: -1;

    }
      &:after{
        content: '';
        display: block;
        width: 20rem;
        height: 20rem;
        border: 3rem var(--secondary-color) solid;
        border-radius: 50%;
        position: absolute;
        left: 50%;
        bottom: -22rem;
        z-index: 0;
        pointer-events: none;
        margin-left: -10rem;
      }
      @media screen and (min-width: 992px){
       &:after, &:before{
         display: none;
       }
      }
  }
  .navbar-toggler{
    margin: 10px auto;
    height: 50px;
    span{
      transform: rotate(45deg);
      top: 25px;
    }
    &:after{
      transform: rotate(-45deg);
      top: 25px;
    }
    &:before{
      display: none;
    }
  }
  .navbar-brand svg{
    display: none;
      @media screen and (min-width: 992px){
        display: block;
      }
  }
  .navbar-menu{
    background-image: repeating-linear-gradient(to right, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.3) 50%, transparent 50%, transparent 100%);
    background-position: left top;
    background-repeat: repeat-x;
    background-size: 20px 1px;
  }
  .menu-item a{
    padding: 1em;
    text-align: center;
    display: block;
    font-size: 1.5em;
  }
  .menu-item.active,
  .menu-item:hover
  {
    border-bottom: 1px #fff solid;
  }
  @media screen and (min-width: 992px){
    display: flex;
    align-items: center;
    background: transparent;
    position: static;
    
    .menu-item a{
      font-size: 1.1em;
      padding: 2rem 16px;
      display: inline-block;
    }
    
    .navbar-menu {
        display: flex;
        margin: 0;
        padding: 0;
        list-style: none;
        background-image: none;
    }
    
  }
  @media screen and (min-width: 1200px){
    .navbar-brand {
      margin-right: 50px
    }
    .menu-item a{
      font-size: 1.1em;
      padding: 2rem 30px;
      display: inline-block;
    }
  }

}



.navbar-toggler{
    position: relative;
    width: 50px;
    height: 35px;
    display: block;
    background: transparent;
    
  span, &:after, &:before{
    height: 1px;
    width: 100%;
    left:0;
    position: absolute;
    background: #fff;
    margin: 0 auto;
  }
  
  &:after, &:before{
    content: '';
  }
  &:after{
    bottom: 5px;
  }
  &:before{
    top: 5px;
  }
  @media screen and (min-width: 992px){
    display: none;
  }
}





.language-toggler{
  display: flex;
  border: 1px #fff solid;
  border-radius: 20px;
  .language-toggler-item{
    padding: 9px 14px;
    &.active{
      background: #fff;
      border-radius: 18px;
      a{
        color: var(--dark-color);
      }
    }
  }
  @media screen and (min-width: 1200px){
    .language-toggler-item{
    padding: 14px 22px;
    }
  }
}




.site-content{
  margin-top: -100px;
}


.intro-section {
  position: relative;
  padding-top: 120px;
  padding-bottom: 0;
  overflow: hidden;
  &:before{
    content: '';
    display: block;
    position: absolute;
    width: 80em;
    height: 80em;
    border: 15em var(--primary-color) solid;
    border-radius: 50%;
    right: -70em;
    top: -10em;
  }

  .container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
  }

 
  .intro-section-title {
    color: #fff;
    font-size: 2em;
    font-weight: 500;
    text-transform: uppercase;
    @media screen and (min-width: 992px){
      font-size: 2.5em;
    }
    span{
      font-size: 2em;
      font-weight: 900;
      display: block;
    }
    @media screen and (min-width: 1200px){
      font-size: 3.5em;
    }
   
  }
  .container{
    position: relative;
  }
  .offer{
    position: relative;
    z-index: 3;
    padding: 5em 0;
    width: 100%;
  }
  .offer-image{
    pointer-events: none;
    img{
      display: none;
    }
    &:before {
      content: '';
      display: block;
      width: 4rem;
      height: 4rem;
      border: 4rem var(--secondary-color) solid;
      border-radius: 50%;
      position: absolute;
      left: 50%;
      top: 10%;
      z-index: 1;
      pointer-events: none;
    }
    
    @media screen and (min-width: 768px){
      
      height: 107%;
      width: 55%;
      position: absolute;
      right: -55px;
      bottom: 0;
      z-index: 2;
      margin-top: -80px;
      img{
      display: block;
      max-width: fit-content;
      max-height: 100%;
      position: relative;
      z-index: 1;
      margin-top: auto;
      position: absolute;
      right: -100px;
      bottom: 0;
    }
    }
    @media screen and (min-width: 1200px){
      width: 40%;
      img{
        right: 0;
      }
     }
   @media screen and (min-width: 1400px){
      width: 50%;
      height: 110%;
      right: 60px;
      img{
        max-height: 105%;
      }
     }
  }
}



















/* SCROLLBAR */
.simplebar-track.simplebar-horizontal .simplebar-scrollbar::before {
  background-color: var(--secondary-color);
  opacity: 1;
  height: 7px;
}
.simplebar-track.simplebar-horizontal .simplebar-scrollbar{
  z-index: 1;
}
.simplebar-track.simplebar-horizontal:after{
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--primary-color);
  position: absolute;
  left: 0;
  top: 4px;
}
.simplebar-content-wrapper {
      overflow: auto;
}
.simplebar-track.simplebar-vertical{
  display: none;
}
.bg-gradient .simplebar-track.simplebar-horizontal:after{
  background-color: #fff;
}


/* SKILL */

.scrollable{
  width: 100%;
  display: flex;
  padding: 2em 0;
  @media screen and (min-width: 768px){
    display: block;
    
  }
  .row{
    flex-wrap: nowrap;
    margin: 0;
    @media screen and (min-width: 768px){
      flex-wrap: wrap;
      margin-top: calc(-1 * var(--bs-gutter-y));
    }
  }
  .skill{
    width: 100%;
    max-width: 100%;
    padding: 20px 35px;
    position: relative;
    z-index: 1;
    margin: 5px 10px;
    min-height: 76px;
    align-items: center;
    display: flex;
    justify-content: center;
    font-weight: 500;
    font-size: 1em;
    text-align: center;
    background: #fff;
    border-radius: 47px 0px 45px;
    &:after{
      content: '';
      display: block;
      width: 94%;
      height: 93%;
      position: absolute;
      top: 3px;
      left: 7px;
      z-index: -1;
      border-radius: 40px 0px;
      background: #fff;
      box-shadow: 0px 4px 23px rgba(0, 0, 0, 0.09);
    }
    @media screen and (min-width: 768px){
      max-width: 20%;
    }
  }
  .skill-logo{
        min-width: 70px;
  }
}

.cross-left svg{
  position: absolute;
  top: -30px;
  left: -30px;
}
.cross-right svg{
  position: absolute;
  top: -30px;
  right: -30px;
}
.cross-bg-primary{
  fill: var(--primary-color)
}


 @media screen and (min-width: 768px){
  .bg-red-circle{
    position: relative;
    overflow: hidden;

    &::after{
      content: '';
      display: block;
      width: 82px;
      height: 82px;
      position: absolute;
      top: 93px;
      right: -31px;
      border: 27px #FC5B63 solid;
      border-radius: 50%;
      box-sizing: border-box;
    }
  } 
}


@media screen and (min-width: 768px){
  .services{
      position: relative;
      &::after{
      content: url(../images/element-green.svg);
      position: absolute;
      top: 50px;
      right: -50px;
      }
  }
}

.service{
  padding: 1em;
  position: relative;
  text-align: center;
  
  @media screen and (min-width: 768px){
    width: 25%;
    &:nth-child(2n) .wrap img{
      border-radius: 39.5px 143px 39.5px 0px;
    }
    &:nth-child(2n+1) .wrap img{
      border-radius: 0px 0px 0px 143px;
    }
    &:nth-child(2n+5) .wrap img{
      border-radius: 39.5px 143px 39.5px 0px;
    }
    &:nth-child(2n+6) .wrap img{
       border-radius: 0px 0px 0px 143px;
    }
    &:nth-child(2n) .wrap:after{
      border-radius: 47px 144px 45px 0px;
    }
    &:nth-child(2n+5) .wrap:after{
      border-radius: 47px 144px 45px 0;
    }
     &:nth-child(2n+6) .wrap:after{
      border-radius: 47px 0 45px 146px;
    }

  }

  .wrap{
    display: block;
    position: relative;
    z-index: 1;
    margin: 0 auto 1.5em;
    img{
      border-radius: 20px;
      display: block;
      filter: brightness(0.7);
      width: 100%;
      height: 150px;
      object-fit: cover;
      @media screen and (min-width: 768px){
        width: auto;
        height: auto;
      }
    }
    
    &:after
    {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      background: #FAEAEA;
      border-radius: 20px;
      position: absolute;
      top: 0px;
      left: 0px;
      z-index: -1;
      margin: -10px 0 0 -10px;
      padding: 10px;
      @media screen and (min-width: 768px){
        border-radius: 47px 0px 45px 146px;
      }
    }
    
  }
  &:hover .stretched-link .btn-small{
      opacity: 1;
      transition: opacity .5s;
  }
  @media screen and (min-width: 768px){
    &:after{
      content: url(../images/element-yellow.svg);
      position: absolute;
      z-index: 2;
      top:-40px
    }
    &:nth-child(1):after,
    &:nth-child(3):after{
      left: 40%
    }
    &:nth-child(2):after{
      content: url(../images/element-red.svg);
      left: 50%
    }
    &:nth-child(4):after{
      content: url(../images/element-red.svg);
    }
    &:nth-child(5):after{
      left: 0
    }
    &:nth-child(6):after{
    content: url(../images/element-green-2.svg);
    left: 50%;
    }
    &:nth-child(6):before{
      content: url(../images/element-yellow.svg);
      position: absolute;
      z-index: 2;
      bottom:40px;
      left: 0
    }
    &:nth-child(7):after{
    content: '';
    }
    &:nth-child(8):after{
    left: -5%;
    top: 5%
    }
  }
}


.stretched-link{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    content: "";
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: var(--dark-color);
    text-decoration: none;
  
    .btn-small{
     opacity: 0;
    }
  }
  

.going{
  padding: 0;
  text-align: center;
  font-size: 21px;
  font-weight: 500;
  &+&{
    margin-top: 2.5em;
  }
  @media screen and (min-width: 768px){
    display: flex;
    flex-direction: column; 
    width: 20%;
    &+&{
      margin-top: 0;
    }
    .wrap:before{
      content: '';
      display: block;
      width: 100%;
      border-top: 2px #E9E9E9 solid;
      position: absolute;
      bottom: 14px;
      left: 0;
    }
    &:first-child .wrap:before{
      left: 50%;
      margin-left: -15px;
    }
    &:last-child .wrap:before{
      left: auto;
      right: 50%;
      margin-right: -15px;
    }
    
   }
   p{
      max-width: min-content;
      margin: auto;
      line-height: 120%;
    }
  img{
    margin-bottom: 20px;
  }
  
  .wrap{
    position: relative;
    padding: 0 0 1em;
    @media screen and (min-width: 768px){
      padding: 0 0 2em;
    }
    &:after{
      content: '';
      display: block;
      width: 16px;
      height: 16px;
      border-radius:50%;
      border: 7px var(--gray-color) solid;
      background: var(--primary-color);
      @media screen and (min-width: 768px){
        background: linear-gradient(180deg, #68B26C 0%, #F5E14E 100%);
      }
      position: absolute;
      bottom: 0;
      left: 50%;
      margin-left: -15px;
    }
  }
  
}


.feedback{
  padding-bottom: 10px;
  position: relative;

  h2{
    color: #fff;
    line-height: 90%;
    margin-bottom: 1em;
  }
  .form-floating{
    margin-bottom: 1.5em;
  }
  .policy-checkbox{
    color: #fff;
    font-size: 0.8em;
    font-weight: 300;
  }
  .form-check{
    margin-top: 2em;
  }
  .btn-small{
    padding: 20px 40px;
    display: block;
    margin: auto;
  }
  .img-feedback .wrap{
    margin-top: -110px;
    position: relative;
    img{
      position: relative;
      z-index: 1;
    }
    &:before, &:after{
      position: absolute;
      z-index: 0;
    }
    &:before{
      content: url(../images/element-red.svg);
      zoom:3;
      bottom: 10%;
      left: 10%
    }
    &:after{
      content: url(../images/element-yellow.svg);
      zoom:2;
      bottom: 15%;
      right: 5%;
    }
  }

  @media screen and (min-width: 768px){
    background: url(../images/boy.png), linear-gradient(to right, #16A085, #63af6b);
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-size: contain;
  }

  @media screen and (min-width: 1200px){ 
    background: linear-gradient(to right, #16A085, #63af6b);
    .policy-checkbox{
      margin-top: 0;
    }
    .form-check{
      margin-top: 0;
    }
    .btn-small{
      padding: 20px 30px;
    }
  }
  
}

.about-us{
  @media screen and (min-width: 1200px){ 
    position: relative;
    background: url("../images/girl.png") no-repeat left bottom/auto 90%;
     &:before, &:after{
      content: '';
      position: absolute;
      display: block;
      z-index: 0;
      border-radius: 50%;
    }
    &:before{
      width: 150px;
      height: 150px;
      border: 80px var(--secondary-color) solid;
      right: 50px;
      top: -100px
    }
    &:after{
      width: 80px;
      height: 80px;
      border: 30px var(--primary-color) solid;
      right: 225px;
      top: 65px
    }
  }
  .effect-border-text:after{
    left: -30%;
    font-size: 252px;
  }
  .btn{
    margin-top: 4em;
  }
  .leading{
    width: 70%;
    line-height: 100%;
  }
  
}

.profiles{
  position: relative;
  
  .row > *{
    width: 50%
  }
  @media screen and (min-width: 768px){
    .row > *{
      width: 25%
    }
    &::after {
      content: url(../images/element-yellow-2.svg);
      position: absolute;
      bottom: -20px;
      left: -70px;
    }
  }
  .arrows{
    position: absolute;
    bottom: -2.5em;
    left: 0;
    width: 100%;
  }
 
  
}
.arrows{
    
    display: flex;
    justify-content: center;
  }
.prev-arrow, .next-arrow{
    display: block;
    padding: 0;
    margin: 0 1em;   
    width: 5em;
    height: 5em;
    border-radius: 50%;
    background: url(../images/arrow-next.svg) var(--secondary-color) no-repeat 52% 50%;
  }
  .prev-arrow{
    background: url(../images/arrow-prev.svg) var(--secondary-color) no-repeat 52% 50%;
  }

.slick-slide .profile-card img{
    display: inline-block;
  }
.profile-card{
  text-align: center;
  position: relative;
  margin: 40px 20px;
  
  &:after{
      content: url(../images/element-red.svg);
      display: block;
      position: absolute;
      top: -45px;
      left: 10px;
  }
  &:nth-child(5n+1):after{
    content: url(../images/element-red.svg);
    transform: rotate(58deg);
  }
  &:nth-child(2n):after{
    content: url(../images/element-yellow.svg);
  }
  &:nth-child(3n):after{
    content: url(../images/element-green-2.svg);
    transform: rotate(30deg);
  }
  .img{
    background: var(--gray-color);
    border-radius: 1rem;
    img{
      margin-top: -30px;
      display: inline-block;
    }
  }
  .caption{
    h3{
      font-size: 1rem;
      margin: 2em 0 1em 0;
    }
  }
  
}


.blog{ 
  color: #fff;
  
  .row > *{
    width: 30%
  }
  
  @media screen and (min-width: 768px){
    background: #2ea57d;
    background: url(../images/element-ellipse-green.svg) no-repeat 100% 0, linear-gradient(to right,#16a085,#63af6b);
    .row > *{
      width: 33.333%
    }
    h2{
      text-align: left;
    }
    .header{
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 4rem;
    }
  }
 
  h2{
    margin-bottom: 0;
    text-align: center;
    &:after{
      left: 0.5em;
      text-align: left;
    }
  }
  .img img{
    border-radius: 13px;
  }
  .info{
    margin-top: 2em;
    font-weight: 300;
    font-size: 0.8em;
    white-space: nowrap;
    overflow: hidden;
    .info-item{
      display: flex;
      margin-right: 5px;
    }
    a{
      color: #fff;
      text-decoration: none;
    }
  }
  /**/.icon{
    display: inline-block;
    width: 1.1em;
    height: 1em;
    background-repeat: no-repeat;
    background-position: 100% 50%;
    margin-right: 0.2em;
  }
  .icon-user{
    background-image: url("data:image/svg+xml,%3Csvg width='7' height='10' viewBox='0 0 7 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='3.5' cy='2.5' r='2' stroke='white'/%3E%3Crect x='0.5' y='4.5' width='6' height='5' rx='1.5' stroke='white'/%3E%3C/svg%3E%0A");
    
  }
  .icon-date{
    background-image: url("data:image/svg+xml,%0A%3Csvg width='11' height='11' viewBox='0 0 11 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='2.5' width='10' height='8' rx='1.5' stroke='white'/%3E%3Crect x='0.5' y='3.5' width='10' height='1' rx='0.5' stroke='white'/%3E%3Cpath d='M4 4.5V2C4 1.44772 3.55228 1 3 1V1C2.44772 1 2 1.44772 2 2V4.5' stroke='white'/%3E%3Cpath d='M9 4.5V2C9 1.44772 8.55228 1 8 1V1C7.44772 1 7 1.44772 7 2V4.5' stroke='white'/%3E%3C/svg%3E%0A");
  }
  .icon-tags{
    background-image: url("data:image/svg+xml,%0A%3Csvg width='13' height='14' viewBox='0 0 13 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.3078 8.80861L6.78839 2.23203C6.61789 2.02888 6.37368 1.90178 6.10947 1.87869L3 1.60693' stroke='white'/%3E%3Cpath d='M2.25642 6.41032C2.17117 6.30875 2.12977 6.17747 2.14131 6.04536L1.64321 6.00183L2.14131 6.04536L2.326 3.9321C2.35004 3.657 2.59254 3.45349 2.86763 3.47753L4.9809 3.66222C5.113 3.67376 5.23511 3.73731 5.32036 3.83889L10.1969 9.64948C10.3745 9.86101 10.3469 10.1764 10.1354 10.3539L7.83743 12.2825C7.62591 12.46 7.31053 12.4324 7.13301 12.2209L2.25642 6.41032Z' stroke='white'/%3E%3C/svg%3E%0A");
  }
  .icon-comment{
    background-image: url("data:image/svg+xml,%0A%3Csvg width='14' height='13' viewBox='0 0 14 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.67866 8.9018C7.16845 9.12603 8.73042 8.96306 10.0462 8.44613C11.362 7.92919 12.3326 7.09719 12.7601 6.11971C13.1877 5.14223 13.04 4.09285 12.3471 3.18545C11.6543 2.27806 10.4685 1.58096 9.0314 1.23623C7.59432 0.891506 6.01414 0.925109 4.61293 1.33019C3.21172 1.73527 2.09497 2.48134 1.49029 3.41632C0.885609 4.35131 0.83852 5.40483 1.35862 6.36216C1.87872 7.31949 2.92686 8.10856 4.2894 8.56855' stroke='white'/%3E%3Cpath d='M5.5 9L3.5 11L4 8.5' stroke='white' stroke-linecap='round'/%3E%3C/svg%3E%0A");
  }
  .icon-views{
    background-image: url("data:image/svg+xml,%0A%3Csvg width='19' height='10' viewBox='0 0 19 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 4.9157C7.88579 -0.229852 11.7181 -0.380077 18.5 4.9157M1 5.40558C7.88579 10.5511 11.7181 10.7014 18.5 5.40558' stroke='white' stroke-linecap='round'/%3E%3Cellipse cx='10' cy='3.90527' rx='3' ry='2.5' fill='white'/%3E%3Cpath d='M11.6122 2.91706C11.2929 2.64356 10.852 2.46635 10.3715 2.41839C9.89097 2.37043 9.40361 2.45497 9 2.65631' stroke='white'/%3E%3C/svg%3E%0A");
     width: 1.5em;
  }
  .icon-time{
    background-image: url("data:image/svg+xml,%0A%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.5 6L3 4.5' stroke='white' stroke-linecap='round'/%3E%3Cpath d='M6.5 4L5 5.5' stroke='white' stroke-linecap='round'/%3E%3Ccircle cx='5' cy='5' r='4.5' stroke='white'/%3E%3C/svg%3E%0A");
  }
}


.partners{
  position: relative;
   &:before {
     position: absolute;
      display: block;
      z-index: 0;
      content: url(../images/element-yellow.svg);
      right: -30px;
      top: 35px;
      zoom:1.5
    }
  @media screen and (min-width: 768px){
    &:after, &:before {
      content: '';
      position: absolute;
      display: block;
      z-index: 0;
      border-radius: 50%;
    }
    &:before {
        width: 60px;
        height: 60px;
        border: 50px var(--primary-color) solid;
        right: -90px;
        top: 100px;
        zoom:1
    }
    &:after {
      content: url(../images/element-yellow.svg);
        left: -30px;
        bottom: 100px;
    }
  }
}
.slider-partners{
  position: relative;
  .partner img{
    filter: grayscale(100%)
  }
  .arrows{
    margin-top: 2em;
  }
}

.slick-slider .slick-track{
  display: flex;
  align-items: center;
}
.partner img{
  margin: 0 auto;

}

/* @media screen and (max-width: 768px){
  .slider-partners .slick-slider .slick-track, .slick-slider .slick-list{
    width: 100% !important; 
    transform: translate3d(0, 0px, 0px) !important;
    flex-wrap: wrap;
    align-items: center;
  }
  .slider-partners  .slick-initialized .slick-slide{
    width: 50% !important;
    padding: 20px;
  }
  .slider-partners  .arrows{
    display: none;
  }
 
} */


.site-footer{
  padding: 40px 0;
  text-align: center;
  .social-icons{
    margin: 2em 0 3em 0;
  }
  .copyright{
    margin-bottom: 0.5em;
  }
  a{
    color: inherit;
    text-decoration: none;
  }
  .icon-phone:after {
    filter: brightness(0);
  }

  @media screen and (min-width: 992px){
    text-align: left;
    .social-icons{
      margin: 0;
      text-align: center;
    }
    .privacy-policy, .contacts{
      text-align: right;
    }
    .contacts{
      font-weight: 700;
    }
    .copyright{
      margin-bottom: 0;
    }
    .logo{
      position: relative;
      top: -5px;
    }
  }
}


.icon{
  display: inline-block; 
  &:after{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
}
.icon-phone{
  margin-right: 0.3em;
  transform: translateY(1px);
}
.icon-facebook, .icon-instagram{
  width: 2.3em;
  height: 2.3em;
  border: 1px rgba(22, 22, 22, 0.17) solid;
  border-radius: 50%;
  margin: 0 0.5em;
}
.icon-facebook:after{
  content: url(../images/facebook.svg);
}
.icon-instagram:after{
  content: url(../images/instagram.svg);
}
.icon-phone:after{
  content: url(../images/phone.svg);
}


