@import "./_reset";
@import "./grid";
@import "./variables";
@import "./colors";
@import "./forms";
@import "./icons";
@import "./fonts";
@import "./header";
@import "./footer";
@import "./scrollbar";
@import "./home-page";
@import "./contacts-page";
@import "./inner-page";
@import "./teambuilding-page";

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  margin: 0;
  background: #f5f5f7;
  color: var(--dark-color);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

#page {
  overflow: hidden;
}

section {
  padding: clamp(6rem, calc(1rem + 5vw), 11rem) 0;
}

section.feedback {
  padding: clamp(2rem, calc(1rem + 5vw), 3rem) 0;
}

.site-content {
  margin-top: -13.5rem;
}

.intro-section {
  position: relative;
  padding-top: 13.5rem;
  padding-bottom: 0;
  background: #2ea57d;
  background: url(../images/ellipse-header.webp) no-repeat 100% 50px/60%, linear-gradient(to right, #16a085, #63af6b);

  @media screen and (min-width: 768px) {
    background-size: auto;
    background-position: 100% 0;
  }

  .container {
    position: relative;
    &:before {
      content: "";
      position: absolute;
      left: 50%;
      top: 10px;
      width: 60px;
      height: 60px;
      border: 20px var(--secondary-color) solid;
      border-radius: 50%;
      display: block;
      @media screen and (min-width: 768px) {
        border-width: 50px;
        left: 75%;
      }
    }
    @media screen and (min-width: 768px) {
      &:after {
        content: "";
        position: absolute;
        left: 75%;
        top: 100px;
        width: 30px;
        height: 30px;
        border: 20px var(--primary-color) solid;
        border-radius: 50%;
        display: block;
      }
    }
  }

  .offer {
    position: relative;
    z-index: 3;
    padding: 12rem 0;
  }

  .btn {
    margin-top: 9rem;
  }

  .intro-section-title {
    color: #fff;
    text-transform: uppercase;
    font-size: 4.8rem;
    font-weight: 500;
    text-align: center;
    @media screen and (min-width: 768px) {
      font-size: 7.2rem;
      font-weight: 900;
      text-align: left;
      .effect-border-text:after {
        font-size: clamp(5.2rem, calc(8rem + 5vw), 17rem);
        top: -0.3em;
        left: 1rem;
      }
    }
  }

  .offer-image {
    display: none;
    pointer-events: none;
  }
}

.breadcrumb {
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    margin-bottom: 3em;
    margin-top: -2em;
    a,
    span {
      color: #fff;
      text-decoration: none;
    }
    a + a:before,
    a + span:before {
      content: url(../images/breadcrumb-divider.svg);
      margin: 0 0.8em;
      vertical-align: text-top;
    }
  }
}

.pagination {
  display: none;
  @media screen and (min-width: 768px) {
    margin-top: 5.5em;
    display: block;
    ul.page-numbers {
      display: flex;
      justify-content: center;
    }
    a,
    span {
      display: block;
      width: 3em;
      height: 3em;
      padding: 0.5em;
      background: #fff;
      border-radius: 3px;
      margin: 0 0.5em;
      justify-content: center;
      line-height: 3em;
      display: flex;
      align-items: center;
      font-weight: 500;
    }
    .current {
      color: #a5a5a5;
    }
    a:hover {
      background: var(--primary-color);
      color: #fff;
      line {
        stroke: #fff;
      }
    }
  }
  .prev,
  .next {
    border: 1px var(--primary-color) solid;
    border-radius: 50%;
    background: transparent;
  }
}

.blog-page {
  .card {
    margin-top: 2.5em;
    img {
      border-radius: 13px;
    }
  }
  .info {
    color: var(--primary-color);
  }
}

/* SKILL */

.scrollable {
  width: 100%;
  display: flex;
  padding: 2em 0;
  @media screen and (min-width: 992px) {
    display: block;
  }
  .row {
    flex-wrap: nowrap;

    margin: 0;
    @media screen and (min-width: 992px) {
      flex-wrap: wrap;
      justify-content: center !important;
      margin-top: calc(-1 * var(--bs-gutter-y));
    }
  }
  .skill {
    width: 100%;
    max-width: 100%;
    min-width: 20rem;
    padding: 20px;
    position: relative;
    z-index: 1;
    margin: 5px 10px;
    min-height: 76px;
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
    background: #fff;
    border-radius: 47px 0px 45px;

    &:after {
      content: "";
      display: block;
      width: 94%;
      height: 93%;
      position: absolute;
      top: 3px;
      left: 7px;
      z-index: -1;
      border-radius: 40px 0px;
      background: #fff;
      box-shadow: 0px 4px 23px rgba(0, 0, 0, 0.09);
    }
    @media screen and (min-width: 768px) {
      max-width: 20%;
    }
    @media screen and (min-width: 1200px) {
      padding: 35px;
    }
  }
  .skill-logo {
    min-width: 70px;
  }
}

.cross-left svg {
  position: absolute;
  top: -30px;
  left: -30px;
}
.cross-right svg {
  position: absolute;
  top: -30px;
  right: -30px;
}
.cross-bg-primary {
  fill: var(--primary-color);
}

@media screen and (min-width: 768px) {
  .bg-red-circle {
    position: relative;
    overflow: hidden;

    &::after {
      content: "";
      display: block;
      width: 82px;
      height: 82px;
      position: absolute;
      top: 130px;
      right: -20px;
      border: 27px #fc5b63 solid;
      border-radius: 50%;
      box-sizing: border-box;
    }
  }
}

.why-us {
  position: relative;
  &::after {
    content: url(../images/element-green.svg);
    position: absolute;
    top: -100px;
    right: -50px;
    @media screen and (min-width: 768px) {
      top: -70px;
    }
  }

  &::before {
    content: url(../images/element-yellow.svg);
    position: absolute;
    bottom: 50px;
    left: -30px;
  }
}

@media screen and (min-width: 768px) {
  .services {
    position: relative;
    padding-bottom: 5rem;
    &::after {
      content: url(../images/element-green.svg);
      position: absolute;
      top: 90px;
      right: 0px;
    }
  }
}

.service {
  padding: 1em;
  position: relative;
  text-align: center;

  @media screen and (min-width: 768px) {
    width: 50%;
  }
  @media screen and (min-width: 992px) {
    width: 25%;
    .h3 {
      max-width: 90%;
      margin: 3rem auto;
    }
    &:nth-child(2n) .wrap img {
      border-radius: 39.5px 143px 39.5px 0px;
    }
    &:nth-child(2n + 1) .wrap img {
      border-radius: 0px 0px 0px 143px;
    }
    &:nth-child(2n + 5) .wrap img {
      border-radius: 39.5px 143px 39.5px 0px;
    }
    &:nth-child(2n + 6) .wrap img {
      border-radius: 0px 0px 0px 143px;
    }
    &:nth-child(2n) .wrap:after {
      border-radius: 47px 144px 45px 0px;
    }
    &:nth-child(2n + 5) .wrap:after {
      border-radius: 47px 144px 45px 0;
    }
    &:nth-child(2n + 6) .wrap:after {
      border-radius: 47px 0 45px 146px;
    }
  }

  .wrap {
    display: block;
    position: relative;
    z-index: 1;
    margin: 0 auto 1.5em;
    img {
      border-radius: 20px;
      display: block;
      filter: brightness(0.7);
      width: 100%;
      height: 150px;
      object-fit: cover;
      @media screen and (min-width: 992px) {
        width: auto;
        height: auto;
      }
    }

    &:after {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      background: #faeaea;
      border-radius: 20px;
      position: absolute;
      top: 0px;
      left: 0px;
      z-index: -1;
      margin: -10px 0 0 -10px;
      padding: 10px;
      @media screen and (min-width: 992px) {
        border-radius: 47px 0px 45px 146px;
      }
    }
  }
  &:hover .stretched-link .btn-small {
    opacity: 1;
    transition: opacity 0.5s;
  }
  @media screen and (min-width: 768px) {
    &:after {
      content: url(../images/element-yellow.svg);
      position: absolute;
      z-index: 2;
      top: -40px;
    }
    &:nth-child(1):after,
    &:nth-child(3):after {
      left: 55%;
    }
    &:nth-child(2):after {
      content: url(../images/element-red.svg);
      left: 10%;
    }
    &:nth-child(4):after {
      content: url(../images/element-red.svg);
      left: 11%;
    }
    &:nth-child(5):after {
      right: 85px;
      top: -17px;
    }
    &:nth-child(6):after {
      content: url(../images/element-green-2.svg);
      left: 50%;
    }

    &:nth-child(8):after {
      left: -5%;
      top: 5%;
    }
  }
}

.stretched-link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  content: "";
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: var(--dark-color);
  text-decoration: none;

  .btn-small {
    opacity: 0;
  }
}

.going-on {
  h2 {
    margin-bottom: 9rem;
  }
}
.going {
  padding: 0;
  text-align: center;
  font-size: 21px;
  font-weight: 500;
  & + & {
    margin-top: 2.5em;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    width: 20%;
    & + & {
      margin-top: 0;
    }
    .wrap:before {
      content: "";
      display: block;
      width: 100%;
      border-top: 2px #e9e9e9 solid;
      position: absolute;
      bottom: 14px;
      left: 0;
    }
    &:first-child .wrap:before {
      left: 50%;
      margin-left: -15px;
    }
    &:last-child .wrap:before {
      left: auto;
      right: 50%;
      margin-right: -15px;
    }
  }
  p {
    max-width: min-content;
    margin: auto;
    line-height: 120%;
  }
  img {
    margin-bottom: 20px;
  }

  .wrap {
    position: relative;
    padding: 0 0 1em;
    @media screen and (min-width: 768px) {
      padding: 0 0 2em;
    }
    &:after {
      content: "";
      display: block;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      border: 7px var(--gray-color) solid;
      background: var(--primary-color);
      @media screen and (min-width: 768px) {
        background: linear-gradient(180deg, #68b26c 0%, #f5e14e 100%);
      }
      position: absolute;
      bottom: 0;
      left: 50%;
      margin-left: -15px;
    }
  }
}

.feedback {
  position: relative;

  h2 {
    color: #fff;
    line-height: 105%;
    margin-bottom: 9rem;
    text-align: center;
    @media screen and (min-width: 768px) {
      text-align: left;
    }
  }
  .form-floating {
    margin-bottom: 1.5em;
  }
  .policy-checkbox {
    color: #fff;
    font-size: 1.4rem;
    font-weight: 300;
  }
  .form-check {
    margin-top: 2em;
  }
  .btn-small {
    padding: 20px 40px;
    display: block;
    margin: auto;
  }
  .img-feedback {
    text-align: right;

    .wrap {
      margin-top: -130px;
      position: relative;
      img {
        position: relative;
        z-index: 1;
      }
      &:before,
      &:after {
        position: absolute;
        z-index: 0;
      }
      &:before {
        content: url(../images/element-red.svg);
        zoom: 3;
        bottom: 10%;
        left: 10%;
      }
      &:after {
        content: url(../images/element-yellow.svg);
        zoom: 2;
        bottom: 15%;
        right: 5%;
      }
    }
  }
  @media screen and (min-width: 768px) {
    background: url(../images/boy.webp), linear-gradient(to right, #16a085, #63af6b);
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-size: contain;
  }

  @media screen and (min-width: 1200px) {
    background: linear-gradient(to right, #16a085, #63af6b);
    .policy-checkbox {
      margin-top: 0;
    }
    .form-check {
      margin-top: 0;
    }
    .btn-small {
      padding: 20px 30px;
    }
  }
}

.about-us {
  p {
    line-height: 170%;
  }
  @media screen and (min-width: 1200px) {
    position: relative;
    background: url("../images/girl.webp") no-repeat left bottom/auto 90%;

    &:before {
      content: url(../images/circles.svg);
      position: absolute;
      z-index: 0;
      right: 70px;
      top: -80px;
    }
    &:after {
      content: url(../images/element-yellow.svg);
      position: absolute;
      z-index: 1;
      right: -16px;
      bottom: -10px;
      transform: scale(3);
    }
  }
  .effect-border-text:after {
    left: -30%;
    font-size: 252px;
  }
  .btn {
    margin-top: 4em;
  }
  .leading {
    width: 70%;
    line-height: 100%;
  }
}

.profiles {
  position: relative;

  .row > * {
    width: 50%;
  }
  @media screen and (min-width: 768px) {
    .row > * {
      width: 25%;
    }
    &::after {
      content: url(../images/element-yellow-2.svg);
      position: absolute;
      bottom: -20px;
      left: -70px;
    }
  }
  .arrows {
    position: absolute;
    bottom: -2.5em;
    left: 0;
    width: 100%;
  }
}
.arrows {
  display: flex;
  justify-content: center;
}
.prev-arrow,
.next-arrow,
.slick-next.slick-arrow,
.slick-prev.slick-arrow {
  display: block;
  padding: 0;
  margin: 0 1em;
  width: 5em;
  height: 5em;
  border-radius: 50%;
  background: url(../images/arrow-next.svg) var(--secondary-color) no-repeat 52% 50%;
}
.prev-arrow,
.slick-prev.slick-arrow {
  background: url(../images/arrow-prev.svg) var(--secondary-color) no-repeat 52% 50%;
  z-index: 1;
}

.slick-slide .profile-card img {
  display: inline-block;
}
.profile-card {
  text-align: center;
  position: relative;
  margin: 40px 20px;

  &:after {
    content: url(../images/element-red.svg);
    display: block;
    position: absolute;
    top: -45px;
    left: 10px;
  }
  &:nth-child(5n + 1):after {
    content: url(../images/element-red.svg);
    transform: rotate(58deg);
  }
  &:nth-child(2n):after {
    content: url(../images/element-yellow.svg);
  }
  &:nth-child(3n):after {
    content: url(../images/element-green-2.svg);
    transform: rotate(30deg);
  }
  .img {
    background: var(--gray-color);
    border-radius: 1rem;
    display: inline-flex;
    img {
      margin-top: -30px;
      display: inline-block;
    }
  }
  .caption {
    h3 {
      font-size: 1.8rem;
      margin: 3.5rem 0 1.6rem 0;
    }
    p {
      line-height: 170%;
    }
  }
}

.gallery {
  position: relative;
  z-index: 1;
  @media screen and (min-width: 768px) {
    &:before {
      content: "";
      position: absolute;
      right: -30px;
      top: -30px;
      width: 60px;
      height: 60px;
      border: 40px var(--secondary-color) solid;
      border-radius: 50%;
      display: block;
    }
    &:after {
      content: "";
      position: absolute;
      right: 60px;
      top: 40px;
      width: 30px;
      height: 30px;
      border: 20px var(--primary-color) solid;
      border-radius: 50%;
      display: block;
    }
  }
}

.info {
  margin-top: 2em;
  font-size: 1.8rem;
  white-space: nowrap;
  overflow: hidden;

  a {
    text-decoration: none;
  }
}

.info-item {
  display: flex;
  margin-right: 5px;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.blog {
  color: #fff;

  .row > * {
    width: 80vw;
    margin-right: 10vw;
  }

  @media screen and (min-width: 768px) {
    background: #2ea57d;
    background: url(../images/element-ellipse-green.svg) no-repeat 100% 0, linear-gradient(to right, #16a085, #63af6b);
    .row > * {
      width: 33.333%;
      margin-right: 0;
    }
    h2 {
      text-align: left;
    }
    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 4rem;
    }
  }

  h2 {
    margin-bottom: 0;
    text-align: center;
    &:after {
      left: 0.5em;
      text-align: left;
    }
  }
  .img img {
    border-radius: 13px;
  }
}

.partners {
  position: relative;
  &:before {
    position: absolute;
    display: block;
    z-index: 0;
    content: url(../images/element-yellow.svg);
    right: -30px;
    top: 35px;
    zoom: 1.5;
  }
  @media screen and (min-width: 768px) {
    &:after,
    &:before {
      content: "";
      position: absolute;
      display: block;
      z-index: 0;
      border-radius: 50%;
    }
    &:before {
      width: 65px;
      height: 65px;
      border: 70px var(--primary-color) solid;
      right: -90px;
      top: 60px;
      zoom: 1;
    }
    &:after {
      content: url(../images/element-yellow.svg);
      left: -30px;
      bottom: 130px;
      transform: scale(2.5);
    }
  }
}

.slider-partners {
  position: relative;
  .arrows {
    display: none;
    @media screen and (min-width: 768px) {
      display: flex;
    }
  }
  .slider {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    .partner {
      width: 50%;
    }

    @media screen and (min-width: 768px) {
      display: block;
      .partner {
        width: auto;
      }
    }
  }

  .partner img {
    filter: grayscale(100%);
  }
  .arrows {
    margin-top: 10rem;
  }
}

.slick-slider .slick-track {
  display: flex;
  align-items: center;
}
.partner img {
  margin: 0 auto;
}

.testimonials-section {
  .testimonial {
    border-top: 2px var(--primary-color) dashed;
    border-bottom: 2px var(--primary-color) dashed;
    border-radius: 120px;
    text-align: center;
    padding: 2em;

    @media screen and (min-width: 768px) {
      flex-wrap: wrap;
      & + .testimonial {
        margin-left: 0;
      }
    }
    .name-testimonial {
      font-weight: 500;
      font-size: 1.5em;
    }
  }

  .slider-scroll .slider > div {
    width: max-content;
    max-width: max-content;
    min-width: 300px;
    @media screen and (min-width: 768px) {
      width: auto;
      max-width: none;
      min-width: none;
    }
  }
  .slider-scroll .slider .slick-slide {
    padding: 2em 6em;
  }
}

.more-link {
  text-align: center;
  margin: 5rem 0;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.why-us .weight-bold {
  font-size: 0.9em;
}

@media screen and (min-width: 768px) {
  .teambuilding-page .slider-scroll .arrows {
    bottom: -156px;
  }

  .teambuilding-page .feedback {
    position: relative;
    &:before {
      content: "";
      position: absolute;
      left: -30px;
      top: 50%;
      width: 60px;
      height: 60px;
      border: 40px var(--secondary-color) solid;
      border-radius: 50%;
      display: block;
    }
    &:after {
      content: "";
      position: absolute;
      left: -20px;
      top: 60%;
      width: 30px;
      height: 30px;
      border: 20px var(--primary-color) solid;
      border-radius: 50%;
      display: block;
    }
  }
  .scrollable-vertical {
    max-height: auto;
    padding-right: 0;
  }
}

.scrollable-vertical {
  max-height: 400px;
  padding-right: 20px;
}

.slider-scroll {
  .slider {
    display: flex;
    padding-bottom: 2em;
    text-align: center;
  }
  .slider > div,
  .slider img {
    width: 80vw;
    max-width: 80vw;
  }
  .slider > div + div {
    margin-left: 5vw;
  }
  .arrows {
    display: none;
  }
  @media screen and (min-width: 500px) {
    .slider > div,
    .slider img {
      width: 60vw;
      max-width: 60vw;
    }
  }
  @media screen and (min-width: 768px) {
    .slider {
      display: block;
      padding-bottom: 0;
    }
    .arrows {
      display: flex;
      position: absolute;
      bottom: -130px;
      left: 0;
      width: 100%;
      top: auto;
    }
    .slider .slick-slide {
      padding: 1rem;
    }
    .slider > div,
    .slider img {
      width: auto;
      max-width: 100%;
    }
    .slider > div + div {
      margin-left: 0;
    }
    .simplebar-track.simplebar-horizontal {
      display: none;
    }
    .simplebar-mask {
      overflow: visible;
    }
    .simplebar-content-wrapper {
      overflow: visible !important;
    }
    .simplebar-wrapper {
      overflow: visible;
    }
  }
}

.contact-form {
  label {
    display: block;
    font-size: 2.4rem;
  }
  .form-group {
    margin-bottom: 2em;
  }
  .form-control-contacts {
    outline: none;
    width: 100%;
    background: transparent;
    padding: 1.5rem 0;
    border-bottom: 1px rgba(0, 0, 0, 0.15) solid;
    font-weight: 400;
    font-size: 1.8rem;
  }
  .btn {
    margin-top: 3em;
  }
}

.wrap-iframe {
  padding: 0.5em;
  background: #fff;
  border-radius: 30px;
  margin-top: 3em;

  @media screen and (min-width: 992px) {
    height: 100%;
    margin-top: 0;
  }
}

.contacts-page {
  .site-content {
    position: relative;
    &:before {
      content: url(../images/element-red.svg);
      position: absolute;
      top: 50%;
      right: -36px;
      z-index: -1;

      @media screen and (min-width: 768px) {
        content: url(../images/circles.svg);
        bottom: 50px;
        top: auto;
        right: 0;
      }
    }

    @media screen and (min-width: 1200px) {
      &:after {
        content: url(../images/element-green-3.svg);
        position: absolute;
        top: 40%;
        left: 0;
        z-index: -1;
      }
    }
  }
}

iframe {
  border: 0;
  width: 100%;
  height: inherit;
  min-height: 400px;
  box-shadow: 0 10px 20px #62b9d95e;
  border-radius: 16px;
}

.effect-border-text {
  position: relative;
  z-index: 1;
}

@media screen and (min-width: 768px) {
  .effect-border-text:after {
    content: attr(data-text);
    display: block;
    position: absolute;
    top: -0.1em;
    left: -0.05em;
    z-index: -1;
    font-size: 1.2em;
    color: transparent;
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.22);
    width: 100%;
    text-align: left;
  }
}
